
@{
    ViewBag.Title = "_Layout_Login";
    Layout = "~/Views/Home/Index.cshtml";
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/conten/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/conten/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/conten/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/conten/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/conten/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/conten/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/conten/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/conten/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        @RenderBody();
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/conten/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src=".~/conten/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src=".~/conten/js/off-canvas.js"></script>
    <script src="~/conten/js/hoverable-collapse.js"></script>
    <script src="~/conten/js/template.js"></script>
    <script src="~/conten/js/settings.js"></script>
    <script src="~/conten/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>


